@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url(bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  margin: 0;

}
@keyframes moveBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}


/* Header containing the navigation bar */
.header {
  position: absolute; /* Keeps header fixed at top of page */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; /* Keeps the nav on top of the main content */
  padding: 0px 10px;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: background for navigation */
}

.header {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: rgb(27, 255, 202);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 50%;
  float: left;
  text-align: left;
  line-height: 100px;
  align-items: center;
  text-decoration: none;

}


.logo a {
  position: relative;
  left: 30px;
  font-size: 60px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease;
}

.logo a:hover {
  color: #000000;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
}

.healthy-habits {
  font-family: 'londrina solid';
  font-size: 6%;
  color: #000000;
  letter-spacing: 4px;
  text-decoration: none;

}

.healthy-habits a:hover {
  text-decoration: none;
}

.welcome {
  font-family: 'impact';
  font-size: 60%;
  color: #000000;
  letter-spacing: 1px;


}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 100;
}

nav a {
  font-family: 'londrina solid';
  letter-spacing: 1px;
  font-size: 27px;
  color: #010000;
  padding: 30px 20px;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  position: relative; /* Ensure the description is positioned relative to this link */
  margin-left: 10px; /* Adds space between icons */
}

nav a img {
  display: block;
  margin: 0 auto;
}

nav a .description {
 
  position: absolute;
  top: 100%; /* Position it below the icon */
  right: 70px; /* Align it to the right */
  transform: translateX(50%);
  visibility: hidden;
  font-size: 15px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 10; /* Ensures it appears above other elements */
}
nav a:link {
  text-decoration: solid;
  font-family: 'londrina solid';
  letter-spacing: 1px;
  font-size: 27px;
  color: #010000;
  padding: 30px 20px;
  transform: scale(1.1);

}

nav a:visited {
  color: #000000;
}

nav a:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  color: #000000;
  text-shadow: 0 0 100px white, 0 0 20px white, 0 0 30px white;
}

nav a:hover .description {
  visibility: visible;
  opacity: 1;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform .5s;

}

.btn-login {

  width: 50px;
  ;
}

.main {
  display: flex;
  justify-content: center; /* Center button container horizontally */
  align-items: center; /* Center button container vertically */
  height: 100vh;
  background-image: url('bg2.jpg');
  background-size: cover; /* Cover the entire screen with the background */
  background-repeat: no-repeat;
  background-position: center center; /* Ensure background is centered */
  animation: moveBg 30s linear infinite;
  background-attachment: fixed; /* Keep the background fixed */
  position: relative; /* Makes sure that the content inside is positioned relative to this */
  padding-top: 100px; / /* Ensure relative positioning */
}


@keyframes slideIn {
  0% {
    transform: translateY(30%); 
    opacity: 0;
  }
  100% {
    transform: translateY(0); 
    opacity: 1;
  }
}
.calculator-container {
  animation: slideIn 2s ease-in-out;
}

.calculator-container {
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  position: relative;
  /* top: 150px; */
  left: 30px;
  display: flex;
  color: #4d634e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  border-radius: 20px;
  background: #d8e6d2;
  width: 500px;
  height: 600px;
  box-shadow: rgb(0, 0, 0) 0px 10px 25px, rgba(0, 0, 0, 0.5) 0px 0px 15px;
}
.form-control{
  outline: none;
  border: none;
  border-bottom: 1px solid #705b4a;
  background-color: transparent;
  text-align: center;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}
.calculate-button {
  background: #162938;
  border-radius: 6px;
}

.text-center {
  padding: px;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #4d634e;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  -webkit-text-stroke: #000000 0px;
}

.button-container {
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 2px;
  color: #00ffbf;
  display: flex;
  width: 500px;
  height: 450px;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: rgb(0, 0, 0) 20px 20px 50px;
  border-radius: 20px;
  flex-direction: column;
  font-size: 15px;
  margin: 0 auto;  /* Center the container horizontally */
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8); /* Start slightly smaller */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* End at normal size */
  }
}

.button-container {
  animation: fadeInScale 1s ease-out forwards; /* Apply the animation */
}

.button-container img{
  position: relative;
  display: flex;
  align-items: right;
  justify-content: right;
  transition: filter 0.3s ease;
  filter: invert(100%);
  scale: .8;
}

.button-container:hover img {
  filter: invert(0%);
}

.calorie-button,
.bmi-button,
.recom-button {
  display: flex;
  justify-content: center;
  padding: 20px;
  border: none;
  
  
}

.btn-login {
  width: 130px;
  height: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1em;
  font-style: bold;
  background-color: transparent;
  padding-left: 0px;
  border-color: #000000;
  color: #000000;
  padding: 1em 2em;
  border-width: 4px;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  position: relative;
  border-style: solid;
}

@keyframes pulseButton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.btn-login:hover {
  animation: pulseButton 0.5s ease-in-out infinite;
}



.calculator-button {
  display: flex;
  align-items: center;
  width: 250px;
  height: 75px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  font-style: normal;
  background-color: #2A353B;
  border-color: #62dd31;
  color: #f0f0f0;
  padding: 1em 2em;
  border: #00000096;
  border-radius: 1000px;
  cursor: pointer;
  justify-content: center;
  position: relative;
  border-style: solid;

}


.calculator-button:hover {
  z-index: 0;
  box-shadow: 5px 0px 50px #62dd31, -5px 0px 50px #15e6f5ad;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  color: #000000;
  background-color: rgba(0, 255, 255, 0.726);
  transition: transform 0.3s ease;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #00ffbf;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spinner 1s linear infinite;
}




@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  animation: fadeIn 1s ease-in-out;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 420px;
  background: transparent;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  transition: height .2s ease;
  bottom: 650px;
  left: 750px;
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}


.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translate(400px);
}

.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;

}

.form-box h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-box input:focus {
  animation: focusAnimation 0.3s ease-out;
}

@keyframes focusAnimation {
  from {
    border-bottom: 1px solid #705b4a;
  }
  to {
    border-bottom: 1px solid #00ffbf;
  }
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;


}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: .3s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}


.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;

}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 50px;

}

.remember-forgot {
  font-size: .9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;

}

.remember-forgot a {
  color: #162938;
  text-decoration: none;

}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn-submit {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  font-weight: 500;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.btn-submit:hover {
  animation: bounce 0.5s ease;
}
.login-register {
  font-size: .9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #162938;
  font-weight: 600;
  text-decoration: none;
}

.login-register p a:hover {
  text-decoration: underline;

}
.bmi_container {
  position: absolute;
  left: 50%;
  top: 17%;
  transform: translate(-50%, 0%);
}
.box {
  min-width: 400px;
  height: 700px;
  background: #c3d4bc;
  color: #4d634e;
  border-radius: 38px;
  text-align: center;
  position: relative;
  /* margin-bottom: 150px; */
}
.box::before {
  content: "";
  position: absolute;
  height: 110%;
  width: 110%;
  left: -5%;
  top: -5%;
  background-color: rgba(0, 0, 0, 0.274);
  
  box-shadow: 0px 0px 166px -31px rgba(0, 0, 0, 0.15);
  border-radius: 60px;
  z-index: -1;
}

@keyframes slideIn {
  0% {
    transform: translateY(30%); 
    opacity: 0;
  }
  100% {
    transform: translateY(0); 
    opacity: 1;
  }
}
.box{
  animation: slideIn 2s ease-in-out;
}
h1 {
  font-weight: bold;
  font-size: 36px;
  padding: 30px 0;
}
.content {
  padding: 0 40px;
}
.input {
  background: #d8e6d2;
  border-color: #000000;
  
  box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
  border-radius: 28px;
  padding: 20px 0;
  margin-bottom: 20px;
}
.input label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #4d634e;
  margin-bottom: 20px;
}
.input input {
  outline: none;
  border: none;
  border-bottom: 1px solid #705b4a;
  background-color: transparent;
  width: 60%;
  text-align: center;
  font-size: 28px;
  font-family: "Nunito", sans-serif;
}
button#calculate {
  font-family: "Nunito", sans-serif;
  color: #fff;
  background: #162938;
  font-size: 16px;
  border-radius: 12px;
  padding: 12px 0;
  width: 100%;
  outline: none;
  border: none;
  transition: background 0.2s ease;
}
button#calculate:hover {
  background: #0044ff;
}
.result {
  padding: 30px 20px;
}
.result p {
  font-weight: 600;
  font-size: 22px;
  color: #705b4a;
  margin-bottom: 15px;
}
.result #result {
  font-size: 36px;
  font-weight: 900;
  color: #705b4a ;
  background-color: #8ec07c;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 55px;
  margin-bottom: 25px;
}
#comment {
  color: #705b4a;
  font-weight: 800;
}
/* Youtube link */
.link {
  position: fixed;
  background-color: #d12322;
  padding: 23px 40px;
  right: -90px;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-90deg);
  font-size: 18px;
  font-weight: 500;
  color: #ff0000;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.1s ease-in-out;
}

.link i {
  padding-left: 7px;
}

.link:hover {
  text-decoration: underline;
  background-color: black;
}


.rec-container {
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  position: relative;
  /* top: 150px; */
  left: 30px;
  display: flex;
  color: #4d634e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  border-radius: 20px;
  background: #d8e6d2;
  width: 500px;
  height: 745px;
  box-shadow: rgb(0, 0, 0) 0px 10px 25px, rgba(0, 0, 0, 0.5) 0px 0px 15px;
}

@keyframes slideIn {
  0% {
    transform: translateY(30%); 
    opacity: 0;
  }
  100% {
    transform: translateY(0); 
    opacity: 1;
  }
}
.rec-container {
  animation: slideIn 2s ease-in-out;
}

#rec-container {
  transition: width 0.25s ease, height 0.25s ease;
}

.about-container{
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 110px;
  bottom: 10px;
  left: 50px;
  right: 50px;
  border: #000000;
  border-style: solid;
  border-radius: 25px ;
  padding: 20px;
  box-shadow: rgb(0, 0, 0) 0px 10px 25px, rgba(0, 0, 0, 0.5) 0px 0px 15px;
  background-color:#d8e6d2 ;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about-container{
  animation: fadeIn 1s ease-in-out;
}
.about-container .content,
.about-container .image {
    flex: 1;
    padding: 20px;
    min-width: 300px; /* Adjust the min-width to prevent items from becoming too small */
}

.Thankyou{
  position: relative;
  display: flex;
  font-family: "Charm", cursive;
  font-weight: 900;
  font-style: normal;
  font-size: 35px;
  align-items: center;
  justify-content: center;
}

.contact-container {
  background-color: #d8e6d2;
  width: auto;
  height: 700px;
  margin-top: 150px;
  border: #000000;
  border-style: solid;
  border-radius: 25px;
  padding: 20px;
  box-shadow: rgb(0, 0, 0) 0px 10px 25px, rgba(0, 0, 0, 0.5) 0px 0px 15px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* Flexbox to center content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact-container{
  animation: fadeIn 1s ease-in-out;
}
.contact-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact_form-group {
  width: 100%;
  max-width: 400px;  /* Ensure the form field doesn't stretch too wide */
  margin: 10px 0;
}

.contact-form {
  width: 100%;
  max-width: 400px;  /* Set a max width for the form */
  margin: 0 auto;    /* Center the form horizontally */
}

.contact-form input,
.contact-form textarea {
  width: 100%;       /* Make input fields take the full width */
  padding: 10px;     /* Add some padding inside input fields */
  margin-top: 5px;
}

button[type="submit"] {
  width: 100%;       /* Ensure the submit button takes the full width */
  padding: 10px;     /* Add padding to the button for better appearance */
  margin-top: 15px;
}

/* For phones and small devices */
@media (max-width: 768px) {
  .calculator-container,
  .rec-container,
  .button-container,
  .contact-container,
  .box,
  .wrapper {
    width: 90% !important;
    height: auto !important;
    left: 0 !important;
    padding: 20px !important;
  }

  .logo a {
    font-size: 30px;
    left: 10px;
  }

  nav a {
    font-size: 18px;
    padding: 15px 10px;
  }

  .main {
    padding-top: 120px;
    flex-direction: column;
    align-items: center;
  }

  .about-container {
    flex-direction: column;
    padding: 10px;
    left: 10px;
    right: 10px;
  }

  .wrapper {
    left: 0 !important;
    bottom: auto;
    transform: none;
    margin-top: 50px;
  }

  .bmi_container {
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .box {
    min-width: 90%;
  }

  .btn-login,
  .calculator-button {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }

  .input input {
    font-size: 18px;
    width: 90%;
  }
}
